*

# except
!.gitignore
!*.m
!*.h
!*.c
!*.cpp
!*.txt
!*.md
!*.py
!*.pdf

# even if in sub-dirs
!*/

# but never in these folders
*.egg-info/
*.ipynb_checkpoints/
*back/
*arch/
*.vscode/
*tmp/
*temp/
*.vector_cache/
*data/
*prof/

